<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>

<body>
  {{> header}}
  About View HBS - by Malkeet Singh
  {{> footer}}

</body>

</html>
